{# app/Resources/views/lucky/number.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Your Lucky Numbers are: {{ luckyNumberList }}</h1>
    <br/>
    <img src="http://images.hnbrno.cz/CDN/piktogram-smycce-1.jpg"/>
{% endblock %}

